.k-column {
  background: #cfffb8;
  min-width: 20em;
  min-height: 50em;
  padding: 1em;
  margin-right: 1em;
  border: 1px solid #969696;
  border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em; }

.k-column.add {
  background: #e6e6e6 !important; }

.k-column:last-of-type {
  margin-right: 0; }
